@model  OrderFruit.Models.Order

@{
    ViewBag.Title = "Index";
}

<p>
    @using (Html.BeginForm("Details", "Order", FormMethod.Get, new { id = Model }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-horizontal">
            <div class="form-group">
                Order Number
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Search" class="btn btn-default" />
                </div>
            </div>
        </div>

    }
</p>

@if (Model != null)
{
<table class="table">

    <tr>
        <td>@Html.DisplayFor(model => model.Customer.Name)</td>
    <tr>
    <tr>
        <td>@Html.DisplayFor(model => model.Customer.Address)</td>
    <tr>
    <tr>
        <td>@Html.DisplayFor(model => model.Customer.City)</td>
    </tr>
    <tr>
        <td>@Html.DisplayFor(model => model.Customer.Country)</td>
    </tr>

    <tr>
        <td>Fruit</td>
        <td>Cost</td>
        <td>Weight</td>
    </tr>
    @foreach (var item in Model.FruitOrder)
    {
        <tr>
            <td>@Html.DisplayFor(model => item.Fruit.Name)</td>
            <td>@Html.DisplayFor(model => item.Fruit.Cost)</td>
            <td>@Html.DisplayFor(model => item.Fruit.Weight)</td>
        </tr>
    }

    <tr>
        <td></td>
        <td>@Html.DisplayFor(model => model.TotalCost)</td>
        <td>@Html.DisplayFor(model => model.TotalWeight)</td>
    </tr>

</table>
}
